.main-div-card{
    width: 1000px;
    height: 230px;
    background: chocolate;
    margin: auto auto 60px;
    display: flex;
    flex-direction: column;
}

.main-div-card:hover{
    box-shadow:
    1px 1px wheat,
    2px 2px wheat,
    3px 3px wheat,
    4px 4px wheat,
    5px 5px wheat,
    6px 6px wheat,
    7px 7px wheat;
    -webkit-transform: translateX(-7px);
    transform: translateX(-7px);
    transition: all 500ms ease;
}
.main-div{
    margin: auto;
    width: 1200px;
    background: #282c34;
}

.main-div-tools{
    display: flex;
    margin: auto;
}
.main-div-minor-text{
    color: #282c34;
    font-size: 30px;
    margin: 10px 5px 10px 5px;
    width: 410px;
    text-align: right;
}

.main-div-page{
    display: flex;
    margin: auto;
    justify-content: center;
}

.main-div-page-text{
    color: #282c34;
    font-size: 30px;
    margin: 10px 5px 10px 5px;
    text-align: right;
}

.main-div-minor-text:hover{
    color: wheat;
    transition: all 500ms ease;
    cursor: default;
}

.main-div-major-text{
    color: chocolate;
    font-size: 30px;
    margin-left: 100px;
    text-align: left;
    width: 1000px;
}

.main-div-search{
    color: chocolate;
    font-size: 30px;
    height: 50px;
    margin-right: 100px;
    text-align: right;
    width: 500px;
}
.card-profile-img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: black;
    margin: 10px 10px 10px;
}

.card-holder{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
}

.card-description{
    width: 850px;
    height: 80px;
    background: wheat;
    font-size: 20px;
    color: #282c34;
    margin: 10px;
    padding: 10px 25px 10px 25px;
}