.main{
    width: 100%;
}
.main-content{
    width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
}
.main-content-left{
    width: 300px;
    background-color: chocolate;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.main-content-right{
    width: 1000px;
    background-color: #282c34;
    padding: 20px;
}

.profile-img{
    height: 150px;
    width: 150px;
    border-radius: 75px;
    background-color: #282c34;
    margin: auto;
}
.profile-text{
    font-weight: bold;
    font-size: 60px;
    color: #282c34;
    margin: 20px;
    line-height: 55px;
}

.project-button{
    width: 250px;
    height: 100px;
    background-color: #282c34;
    border-radius: 20px;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    line-height: 100px;
}
.add-project-text{
    font-weight: bold;
    font-size: 30px;
    color: chocolate;
    margin: auto;
}

.projects-holder{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

.project{
    width: 240px;
    height: 240px;
    border-radius: 20px;
    background-color: chocolate;
    margin: 20px;
    text-align: center;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.project-text{
    color: #282c34;
    font-size: 30px;
    margin: 25px;
    font-weight: bold;
}