.main-div-wrapper{
    width: 1000px;
    margin: auto;
}

.right-bar{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
}

.left-bar{
    width: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.submit-button{
    background: #0a68ff;
    width: 100px;
    height: 20px;
    border: none;
}

.main-div-tools{
    display: flex;
    margin: auto;
}

.review-rating{
    color: chocolate;
    text-align: right;
    font-size: 30px;
    margin: 0;
    width: 300px;
}

.rate-select{
    background: #282c34;
    font-size: 20px;
    color: chocolate;
    border: none;
}

.rate-div{
    display: flex;
    text-align: right;
    margin-bottom: 30px;
}

.rate-div button{
    display: inline-block;
    text-align: start;
}
.review-rate-button{

    height: 50px;
    background-color: chocolate;
    color: #282c34;
    font-size: 20px;
    font-weight: bold;
}

.review-text{
    color: chocolate;
    font-size: 30px;
    width: 700px;
    margin: 0;
}

.main-div{
    margin: auto;
    width: 1200px;
    height: 100%;
    background: #282c34;
    min-height: 800px;

}

.code-area{
    width: 900px;
    white-space: pre-line;
}

body {
    margin: 0;
    padding: 0;
}

.review-text-div{
    background: wheat;
    text-align: left;
    padding: 10px 50px;
    min-height: 300px;
    font-size: 30px;
    color: #282c34;

    white-space: pre-line;
}

.comment-div{
    background: white;
    display: flex;
    flex-direction: row;
    line-height: 30px;
    font-size: 15px;
    border-radius: 15px;
    margin-bottom: 50px;
    max-width: 900px;
    margin-left: 50px;
}

.button-up{

    width: 25px;
    height: 25px;
    background: green;
    border: none;
}

.button-down{

    width: 25px;
    height: 25px;
    background: red;
    border: none;
}

.mark-text{

    color: #282c34;
    font-size: 15px;
    margin: 0;
}

.comment-text{
    width: 750px;
    height: 80px;
    background: wheat;
    font-size: 20px;
    color: #282c34;
    padding: 10px 25px 10px 25px;
    border-radius: 0 10px 10px 0;
}

.input-comment-div{
    background: white;
    border-radius: 15px;
    margin-bottom: 50px;
    max-width: 900px;
    margin-left: 50px;
}

.input-comment{
    resize: none;
    width: 870px;
    min-height: 100px;
    border-radius: 10px 10px 0 0;
    padding: 14px;
}